# Manipulando Objetos

In [4]:
# Criando uma classe
class Funcionarios:
    
    def __init__(self, nome, salario, cargo):
        self.nome = nome
        self.salario = salario
        self.cargo = cargo
        
    def listFunc(self):
        print("Funcionário(a) " + self.nome + " tem salário de R$" + str(self.salario) + " e o cargo é " + self.cargo)
        
Func1 = Funcionarios("Mary", 20000, "Cientista de Dados")

In [14]:
# Usando método da classe
Func1.listFunc()

AttributeError: 'Funcionarios' object has no attribute 'salario'

In [6]:
hasattr(Func1, "nome")

True

In [7]:
hasattr(Func1, "salario")

True

In [9]:
setattr(Func1, "salario", 4500)

In [10]:
hasattr(Func1, "salario")

True

In [11]:
getattr(Func1, "salario")

4500

In [12]:
delattr(Func1, "salario")

In [13]:
hasattr(Func1, "salario")

False